<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Our goal is to offer our customers with a wide area search of high quality genuine and aftermarket auto parts for vehicle makes such as (Toyota, Nissan, Honda, Mitsubishi, Chevrolet, Kia, BMW, Isuzu, Ford, Hyundai, Suzuki, Mercedes and much more!).">
    <meta name="keywords" content="Parts, car parts, models, engine, part">
    <meta name="author" content="Caribbean Autoparts Hunter">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Caribbean Autoparts Hunter</title>
    <link rel="preconnect"  href="https://fonts.googleapis.com/" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">
    </div>
    <noscript>
      <strong>We're sorry but car-parts doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  </body>
</html>
