<template>
  <div class="about">
    <div class="container layout">
      <div class="full-width margin center">
          <h2 class="title black">About us</h2>
          <h6 class="title2 black"> Our goal is to offer our customers with a wide area search of high quality genuine and aftermarket auto parts for vehicle makes such as (Toyota, Nissan, Honda, Mitsubishi, Chevrolet, Kia, BMW, Isuzu, Ford, Hyundai, Suzuki, Mercedes and much more!).</h6>
      </div>
      <parallax-container>
        <parallax-element :parallaxStrength="-10" :type="'depth'">
          <div class="row parallax">
            <div class="u-full-width x"></div>
            <div class="u-full-width head">
              <h5 class="white title">Caribbean Auto Parts Hunter </h5>
              <h5 class="white title2">is a new online auto parts store in the Caribbean area.</h5>
            </div>
          </div>
        </parallax-element>
      </parallax-container>
      <div class="full-width margin">
          <h5 class="title">Want to order a part?</h5>
          <router-link to="/" key="form" exact>
            <button class="button-primary title2">Email us!</button>
          </router-link>
      </div>
      <div class="u-full-width u">
        <div class="bottom">
          
          <h6 class="title2 blackish left"><span class="title black left">It's what we do that makes us great!</span><br> Caribbean Auto parts hunter is committed to provide you as our customer a good service and communication to satisfy your needs.</h6>
        <img class="size" src="../assets/images/check.svg">
      </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ParallaxContainer, ParallaxElement } from 'vue-mouse-parallax'
export default {
  name: 'About',
  data () {
    return {
    }
  },
  components: {
    ParallaxContainer,
    ParallaxElement
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

  .right{
    float: right;
  }

  .left{
    text-align: left;
  }
  .white {
    color:white;
  }
  .about {
    background: url("../assets/images/engine1.jpeg") no-repeat fixed center;
  }
  .l{
    text-align:left;
  }
  .parallax {
    padding-top:10px;
    height: 70vh;
    position: relative;
  }
  .bottom {
    display:flex;
    overflow:auto;
    text-align: left;
    align-items: center;
  }
    .layout {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px 40px;
  }
  .center{
    text-align: center;
  }
  .im {
    flex: 0 0 10%;
    margin-left: 20px;
  }
  .q {
    padding: 30px 0;
    background-color: #6689A1;
    margin-bottom: 40px;
  }
  .head {
    outline: 1px solid transparent;
    border-radius: 4px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .x {
    height: inherit;
    z-index: -1;
    position: absolute;
    background: url("../assets/images/pic.jpeg") no-repeat fixed center;
    border-radius: 4px;
  }

</style>
