<template>
  <div class="cover">
    <div class="container layout">
      <div class="row">
        <div class="u-full-width margin center">
          <div>
            <h2 class="title black">Find the parts on our shop!</h2>
            <h5 class="title2 blackish">Fill the contact form with the part(s) you need. We will reach you rightaway!</h5>
          </div>
        </div>
      </div>
      <FormC></FormC>
    </div>
  </div>
</template>

<script>
import FormC from '../components/FormC.vue'
export default {
  name: 'Home',
  components: {
    FormC
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
  .layout {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px 40px;
  }
  .center{
    text-align: center;
  }
  .cover {
    background-image: url("../assets/images/car6.jpeg");
    background-size: cover;
    background-attachment: fixed;
  }
  .six.columns{
  margin-bottom: 20px;
  }
  .m {
    text-align: center;
  }
  .intro {
    margin: 5%;
    border-radius: 50%;
    background-color: white;
  }
  .s {
    margin-top: 20px;
  }

  .column,
  .columns {
    border-radius: 4px;
  }
  .spa {
    padding: 0 10px;
    background-color: #F7941D;
    color: white;
  }
  .margin {
    margin:20px 0;
  }
  .d {
    text-align: left;
  }
</style>
