<template>
  <div class="cover">
    <div class="container layout">
      <div class="full-width margin center">
        <h2 class="title">Our Mission</h2>
        <h5 class="title2">Caribbean Auto Part Hunter is committed to giving the best customer service to the people of the greater Caribbean. Provide the possibility to explore the neighborhood Islands to quire the best deals on quality new or second-hand (good state) auto parts prior to searching further.
            </h5>
      </div>

       <div class="row full-width s">
        <parallax-container>
          <parallax-element :parallaxStrength="-10" :type="'depth'">
            <transition name="slide-fade" mode="out-in" appear>
              <h1 class="title center">Like our slogan says you ask we deliver!</h1>
            </transition>
            <div class="full-width b">
              <h2 class="title2 center">
                Caribbean Auto Parts Hunter is here to help you with the searching for your auto part at an affordable price.
              </h2>
            </div>
          </parallax-element>
        </parallax-container>
      </div>

      <div class="row e">
        <div class="u-full-width g">
          <h5 class="title white center">Get the part you need!</h5>
          <router-link to="/" key="form" exact>
            <button class="button-primary title2">Email us!</button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ParallaxContainer, ParallaxElement } from "vue-mouse-parallax";
export default {
  name: "Mision",
  data() {
    return {};
  },
  components: {
    ParallaxElement,
    ParallaxContainer
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .layout {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px 40px;
  }
  .center{
    text-align: center;
  }
.t {
  padding-top: 10px;
}
.cover {
  background: url("../assets/images/car.jpeg") no-repeat fixed center;
}
.center {
  text-align: center;
}
.b {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  border-radius: 4px;
  background-color: #fabe1d;
}

.mision {
  text-align: justify;
}
/* durations and timing functions.              */

.slide-fade-enter-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
  .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */

 {
  opacity: 0;
}

.e {
  height: 30vh;
  background: url("../assets/images/apic.jpeg") repeat fixed center;
  margin-bottom: 20px;
}

.g {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  text-align: center;
  height: inherit;
}

.u-full-width {
  border-radius: 4px;
}

.c {
  text-decoration: underline;
  -webkit-text-decoration-color: #f7941d;
  /* Safari */
  text-decoration-color: #f7941d;
}
.row {
  margin-top: 30px;
  border-radius: 4px;
}

.s {
  display: flex;
  justify-content: center;
}
</style>
