<template>
  <div  class="cover parts">
  <div class="container layout">
    <div class="u-full-width margin">
      <h5 class="title black center">Our Parts</h5>
      <h5 class="title2 blackish center">Only the best quality .
            </h5>
    </div>
       <div class="grid">
        
        <div v-for="(part, index) in parts" :key="part.carpartID" class="col mb-4 cards">
            <div class="card h-100">
              <img @click="modal(index)" :src="part.image[0].url" data-toggle="modal" data-target="#modalQuickView" class="card-img-top">
              <div class="card-add">
                <h4 class="h5-responsive">{{part.name}}</h4>
                <div class="add">
                  <h5 class="center green-text"><strong>${{part.price}}</strong></h5>
                  <button class="add-cart" v-bind:class="[{ 'added-btn' : prodData.includes(part) }, 'material-icons']" @click="prodAdd(part)">+
                    <i class="fa fa-cart-plus ml-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-10">

                    <h2 class="h2-responsive product-name">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>{{modalData.title}}</strong>
                    </h2>

                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                      <h5><span class="desc"></span> {{modalData.desc}}</h5>
                      <h6>Quantity in stock: {{modalData.quantity}}</h6>
                    </div>


                    <h4 class="h4-responsive">
                      <span class="green-text">
                        <strong>${{modalData.price}}</strong>
                      </span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
</template>

<script>
window.axios = require('axios');
import { bus } from '../main';

export default {
  name: 'Parts',
  data () {
    return {
      parts: [],
      modalData: {
        title: '',
        desc: '',
        quantity: '',
        image: '',
        price: '',
      },
      prodData: [],
    }
  },
  methods: {
    apiFetch() {
      axios.get('https://autopartshuntercms.herokuapp.com/carparts')
        .then((response) => {
          if(response) {
            this.parts = response.data
          }
        })
    },
    modal(modalID) {
      this.modalData.title = this.parts[modalID].name
      this.modalData.desc = this.parts[modalID].description
      this.modalData.quantity = this.parts[modalID].quantity
      this.modalData.price = this.parts[modalID].price
    },
    prodAdd(part){
      const index = this.prodData.indexOf(part)
      if(index >= 0){
        this.prodData.splice(index, 1)
      } else {
        this.prodData.push(part)
      }
      bus.$emit('productData', this.prodData)
    },  
  },
  created() {
    this.apiFetch();
 },
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .layout {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px 20px;
  }

  .card img {
    filter: brightness(0.8);
    height: 300px;
    cursor: pointer;
    padding: 0 1.1rem;
  }

  .center{
    text-align: center;
  }
  .cover {
    background-image: url("https://wallpapercave.com/wp/wp4043155.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    display: flex;
    justify-content: center;
  }

  .cards {
    height: 475px;
  }

  .card {
    background: #f8f8f8;
    color: #111;
    border-radius: 0;
    justify-content: space-evenly;
    display: flex;
  }

  .c {
    text-decoration: underline;
    -webkit-text-decoration-color: #F7941D;
    /* Safari */
    text-decoration-color: #F7941D;
  }

  .center {
    text-align: center;
  }

  .u-full-width {
    border-radius: 4px;
  }

  .row {
    margin-top: 30px;
    border-radius: 4px;
  }

  .text-center {
    display: flex;
    justify-content: flex-end;
  }
  .btn-secondary {
    width: 7vw;
    margin-right: 1vw;
  }
  
  .green-text {
    color: #4CAF50;
  }

  .modal-body .row {
    display: flex;
    justify-content: center;
  }

  .h5-responsive {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }


  .h4-responsive {
    background: #EBDDF1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .close {
    font-size: 50px;
    font-weight: 100;
  }

  .added-btn {
    background: #4CAF50;
    color: #f8f8f8;
  }

  .none {
    display: none;
  }

  .added {
    display: block;
    font-size: 16px;
    opacity: .7;
  }

  .card-add {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .add {
    display: flex;
    justify-content: space-evenly;
  }

  .add-cart {
    font-size: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 1024px){
    .layout {
      width: 90vw;
    }
    .h5-responsive {
      font-size: 20px;
    }
    .grid {
          grid-template-columns: repeat(2, 1fr);
    }
    .cards  img {
      width: 100%;
      height: 40vh;
    }
  }
  @media(max-width: 600px) {
    .cards {
      width: 40vw;
    }
    .layout {
      width: 80vw;
    }
    .h5-responsive {
      font-size: 25px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .grid div {
      width: 100%;
      height: 100%;
    }
    .add-cart {
    padding-left: 7vw;
    padding-right: 7vw;
  }
  }
</style>
