<template>
  <div class="cover">
  <div class="container layout">
    <div class="u-full-width margin">
      <h5 class="title black center">Our Vision</h5>
      <h5 class="title2 blackish center">Building a strong customer bond.
            </h5>
    </div>
    <parallax-container>
      <parallax-element :parallaxStrength="-10" :type="'depth'">
        <div class="row t">
          <div class="u-full-width x"></div>
          <div class="u-full-width head">
            <h5 class="title white center">Caribbean Auto Parts Hunter</h5>
            <h5 class="title2 white center">Aims for the future to be the leading auto part searcher for the Caribbean area.</h5>
          </div>
        </div>
      </parallax-element>
    </parallax-container>
    <div class="row e">
      <div class="u-full-width g">
        <h5 class="title white">Get the part you need!</h5>
        <router-link to="/" key="form" exact>
          <button class="button-primary title2">Email us!</button>
        </router-link>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import { ParallaxContainer, ParallaxElement } from 'vue-mouse-parallax'
export default {
  name: 'Vision',
  data () {
    return {
    }
  },
  components: {
    ParallaxElement,
    ParallaxContainer
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .layout {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px 40px;
  }
  .center{
    text-align: center;
  }
  .cover {
    background-image: url("../assets/images/engine.jpeg");
    background-size: cover;
    background-attachment: fixed;
  }
  .t {
    height: 70vh;
    position: relative;
  }
  .i{
    padding-top:10px;
  }
  .head {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .x {
    height: inherit;
    z-index: -1;
    position: absolute;
    background: url("../assets/images/24-7.png") no-repeat center;
  }

  .e {
    height: 30vh;
    background: url("../assets/images/apic.jpeg") repeat fixed center;
    margin-bottom: 20px;
  }

  .g {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
    text-align: center;
    height: inherit;
  }

  .c {
    text-decoration: underline;
    -webkit-text-decoration-color: #F7941D;
    /* Safari */
    text-decoration-color: #F7941D;
  }

  .center {
    text-align: center;
  }

  .u-full-width {
    border-radius: 4px;
  }

  .row {
    margin-top: 30px;
    border-radius: 4px;
  }

</style>
