<template>
  <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden= "true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" >
              <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">
                  Your Shopping Cart
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-image">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Product</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody v-for="cartProduct in cartProducts" :key="cartProduct.carpartID">
                    <tr>
                      <td class="w-25">
                        <img :src="cartProduct.image[0].url" class="img-fluid img-thumbnail" alt="Sheep">
                      </td>
                      <td>{{cartProduct.name}}</td>
                      <td>
                        <input type="number" v-model="cartProduct.quantity" value="1" aria-label="Search" class="form-control" style="width: 100px">
                      </td>
                      <td>{{cartProduct.price}}$</td>
                      <td>
                        <a @click="removeProduct(cartProduct)" href="#" class="btn btn-danger btn-sm">
                          <i class="fa fa-times"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table> 
              </div>
              <div  v-bind:class="[{ 'block' : cartProducts != '' }, 'material-icons']" class="alert alert-danger none" role="alert">
                Warning: Reloading the page will erase your items from the cart
              </div>
              <div class="modal-footer border-top-0 d-flex">
                <p class="none" v-bind:class="[{ 'block' : cartProducts != '' }, 'material-icons']">Fill the parts input with your cart products</p>
                <router-link class="button-link" to="/" ><button v-bind:class="[{ 'block' : cartProducts != '' }, 'material-icons']" @click="checkout" type="button" data-dismiss="modal" class="btn none">Fill the form</button></router-link>
              </div>
            </div>
          </div>
        </div>
</template>
<script>

import { bus } from '../main'

export default {
  name: 'Cart',
  data () {
    return {
      cartProducts: [],
      quantity: '',
    }
  },
  methods: {
    removeProduct(cartProduct) {
      const index = this.cartProducts.indexOf(cartProduct)
      if(index >= 0){
        this.cartProducts.splice(index, 1)
      } else {
        return false
      }
    },
    checkout() {
      bus.$emit('formData', this.cartProducts)
      this.cartProducts = []
    }
  },
  created () {
    bus.$on('productData', (data) => {
      data.forEach(element => {
        element.quantity = 1;
      });
      this.cartProducts = data;
    })
  },
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .none {
    display: none;
  }

  .block {
    display: block;
  }

  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    border: 1px solid #999;
    font-weight: 700;
  }

  .button-link {
    text-decoration: none;
  }
</style>