<template>
  <div class="formC">
    <div class="u-full-width cnt">
        <div class="row">
          <div class="six columns">
            <label for="Name">Your full name:</label>
            <input
            class="u-full-width"
            :class="{invalid: $v.name.$error}"
            @blur="$v.name.$touch()"
            type="text" placeholder="Dave Smith *"
            v-model="name">
            <p class="err" v-if="$v.name.$error">A valid name longer that 2 characters is needed!</p>
          </div>
          <div class="six columns">
            <label for="Email">Your email:</label>
            <input class="u-full-width"
            :class="{invalid: $v.email.$error}"
            type="email"
            placeholder="youremail@gmail.com *"
            v-model="email"
            @blur="$v.email.$touch()"
            >
            <p class="err" v-if="$v.email.$error">A valid email adress is required!</p>
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <label for="Make">Make:</label>
            <input
            class="u-full-width"
            type="text"
            placeholder="Make *"
            :class="{invalid: $v.make.$error}"
            @blur="$v.make.$touch()"
            v-model="make">
            <p class="err" v-if="$v.make.$error">Make name should be at least 3 characters long!</p>
          </div>
          <div class="six columns">
            <label for="Model">Model:</label>
            <input
            class="u-full-width"
            type="text"
            placeholder="Model *"
            :class="{invalid: $v.model.$error}"
            @blur="$v.model.$touch()"
            v-model="model">
            <p class="err" v-if="$v.model.$error">Please provide a car model!</p>
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <label for="Vin Number">Vin number:</label>
            <input
            class="u-full-width"
            type="text"
            placeholder="Vin number *"
            :class="{invalid: $v.vinNum.$error}"
            @blur="$v.vinNum.$touch()"
            v-model="vinNum"
            >
            <p class="err" v-if="$v.vinNum.$error">Vin number should be at least 11 characters long!</p>
          </div>
          <div class="six columns">
            <label for="year">Year of production:</label>
            <select
            class="u-full-width"
            v-model="year"
            :class="{invalid: $v.year.$error}"
            @blur="$v.year.$touch()"
            >
              <option value="" selected disabled hidden>Choose a year *</option>
              <option v-for="index in 78" :key="firstdate+index">{{firstdate+index}}</option>
            </select>
            <p class="err" v-if="$v.year.$error">You should choose a production date!</p>
          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <label for="Parts">Part(s) Required:</label>
            <input
            class="u-full-width"
            placeholder="Exhaust... *"
            :class="{invalid: $v.parts.$error}"
            @blur="$v.parts.$touch()"
            v-model="parts">
            <p class="err" v-if="$v.parts.$error">You have to tell us which parts you want to get!</p>
          </div>
            <div class="six columns">
            <label for="Number">Your phone number:</label>
            <input
            type="tel"
            placeholder="+599 9 5xxxxxx *"
            class="u-full-width p"
            :class="{invalid: $v.number.$error}"
            @blur="$v.number.$touch()"
            v-model="number">
            <p class="err" v-if="$v.number.$error">Please provide a valid phone number!</p>
          </div>
        </div>
        <label for="Picture(s)">Additional Pictures</label>
        <div class="u-full-width i">
          <vue-dropzone  @vdropzone-file-added="vfileAdded"
            :options="dropzoneOptions" 
            :useCustomSlot="true"
            :duplicateCheck="true"
            @vdropzone-removed-file="removeFile"
            @vdropzone-max-files-exceeded="maxFilesExceeded"
            ref="VueDropzone"
            id="dropzone" 
          >
      <div class="dropzone-custom-content">
        <h3 class="title2 blackish">Click or drag and drop to upload content!</h3>
      </div>
    </vue-dropzone>
      <label for="exampleMessage">Additional Information</label>
        <textarea
        class="u-full-width exampleMessage"
        placeholder="Anything…"
        v-model="message"
        ></textarea>
        </div>
        <div class="u-full-width s">
         <h5 class="success" v-if="isSent">Message is sent!</h5>
         <h5 class="failure" v-if="isNotSent">Something went wrong! Try again!</h5>
         <svg class="feather feather-loader sc-dnqmqq jxshSx"  v-if="isLoading" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-reactid="706">
                <line x1="12" y1="2" x2="12" y2="6"></line>
                <line x1="12" y1="18" x2="12" y2="22"></line>
                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                <line x1="2" y1="12" x2="6" y2="12"></line>
                <line x1="18" y1="12" x2="22" y2="12"></line>
                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
          <button
            class="button"
            :class="{'button-primary': !$v.$invalid}"
            :disabled="$v.$invalid"
            @click="send"
          >
          Submit
        </button>
        </div>
      </div>
  </div>
</template>
<script>
import vueDropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { AsYouType, isValidNumber } from "libphonenumber-js";
import { required, email, minLength, numeric } from "vuelidate/lib/validators";
import { bus } from '../main';
const number = value => isValidNumber(value);
export default {
  name: "FormC",
  components: {
    vueDropzone: vueDropzone
  },
  data() {
    return {
      firstdate: 1950,
      name: "",
      email: "",
      make: "",
      model: "",
      vinNum: "",
      year: "",
      parts: "",
      number: "",
      message: "",
      isSent: false,
      isNotSent: false,
      isLoading: false,
      images: [],
      maxFiles: 0,
      dropzoneOptions: {
        url: "/",
        maxFiles: 3,
        autoProcessQueue: false,
        maxFilesize: 5,
        acceptedFiles: "image/jpeg,image/png",
        resizeWidth: 100,
        resizeHeight: 100,
        thumbnailHeight: 200,
        thumbnailWidth: 200,
        addRemoveLinks: true,
      },
      cartData: []
    };
  },
  validations: {
    email: {
      required,
      email
    },
    name: {
      required,
      minL: minLength(2)
    },
    model: {
      required,
      minL: minLength(1)
    },
    make: {
      required,
      minL: minLength(3)
    },
    year: {
      required,
      numeric
    },
    vinNum: {
      required,
      minL: minLength(11)
    },
    parts: {
      required
    },
    number: {
      required,
      number
    }
  },
  methods: {
    vfileAdded(file) {
      const reader = new FileReader();
      reader.onload = (event) => {
        const content = event.target.result.replace(/data:image\/(jpeg|png);base64,/g ,'');
        this.images.push(
          {
          filename: file.name,
          contentType: file.type,
          encoding: 'base64',
          content,
          }
        )
      }
      reader.readAsDataURL(file);
    },
    maxFilesExceeded(file) {
      this.$refs.VueDropzone.removeFile(file);
    },
    removeFile(file) {
      const reader = new FileReader();
      reader.onload = (event) => {
        var index = this.images.indexOf(event.target.result);
        this.images.splice(index,1);
      }
      reader.readAsDataURL(file);
    },
    send() {
      const mail = {
          Name: this.name,
          Email: this.email,
          Make: this.make,
          Model: this.model,
          VinNum: this.vinNum,
          ProductionDate: this.year,
          Parts: this.parts,
          PhoneNumber: this.number,
          Message: this.message,
          Images: this.images,
      };
      this.isLoading = true;
      this.$http
        .post("/send",  mail)
        .then(() => {
          this.isSent = true;
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
          this.isNotSent = true;
        });
    },
  },
  watch: {
    number() {
      this.number = new AsYouType().input(`${this.number}`);
    },
  },
  mounted() {
      bus.$on('formData', (data) => {
      for (let i = 0; i < data.length; i++) {
        this.parts += `${data[i].quantity}x ${data[i].name}, `
     }
    })
  }
};
</script>
<style lang="scss">
label{
  text-align: left;
  font-size: 20px;
}

input {
  font-size: 20px;
}

label {
  font-size: 20px;
}

textarea {
  font-size: 18px;
}

.err {
  font-size: 1.2rem;
  margin-top: 3px;
  color: red;
  margin-bottom: 0;
}
.u-full-width.invalid {
  border-color: red;
  background-color: #fedbdb;
}
select {
  padding-left: 5px;
}
.pic {
  background-color: black;
  height: 132px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 10px 0;
}
.fu {
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
}
.exampleMessage {
  resize: vertical;
}
.s {
  margin-top: 10px;
  display: flex;
  align-items: center;
  svg {
  stroke: black;
  height: 20px;
  animation: spin 1s linear infinite;
  }
}
.success {
  font-size: 1.2rem;
  line-height: 38px;
  letter-spacing: 1.3px;
  padding: 0 15px;
  background-color: #ffeb3b;
  border-radius: 4px;
  margin-bottom: 0;
  animation: bounce-in 5s ease forwards;
  text-align: right;
}
.six.columns,
.u-full-width.i {
  margin-bottom: 20px;
}
.failure {
  font-size: 1.2rem;
  line-height: 38px;
  letter-spacing: 1.3px;
  padding: 0 15px;
  background-color: #ff5722;
  border-radius: 4px;
  margin-bottom: 0;
  color:white;
  text-align: right;
  animation: bounce-in 5s ease forwards;
}

.cnt {
  padding-left: 2rem
}

.none {
  display: none;
}

.block {
  display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce-in {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
.formC {
  background-color: #fff;
  padding: 20px 40px 20px 20px;
  border-radius: 10px;
}
.button {
  margin-left: auto;
  margin-bottom: 0;
}
</style>
