<template>
    <div class="navbar">
      <div class="container ns">
        <ul class="navu nv">
          <li class="four columns" id="logo">
            <img class="lg" src="../assets/images/logo.svg">
            <img class="t" src="../assets/images/text.svg">
            <button @click="showList=!showList"><img src="../assets/images/menu.svg"></button>
          </li>
          <div class="links">
            <transition-group name="fade" class="even" mode="out-in">
              <router-link v-if="showList" to="/" class="one column n" active-class="active" tag="li" key="home" exact><a>Home</a></router-link>
              <router-link v-if="showList" to="/about" class="one column n" active-class="active" tag="li" key="about" exact><a>About</a></router-link>
              <router-link v-if="showList" to="/services" class="one column n" active-class="active" tag="li" key="Services" exact><a>Services</a></router-link>
              <router-link v-if="showList" to="/mission" class="one column n nlast" active-class="active" tag="li" key="Mission" exact><a>Mission</a></router-link>
              <router-link v-if="showList" to="/vision" class="one column n nlast1" active-class="active" tag="li" key="Vision" exact><a>Vision</a></router-link>
              <router-link v-if="showList" to="/parts" class="one column n nlast1" active-class="active" tag="li" key="Parts" exact><a>Parts</a></router-link>
            </transition-group>
          </div>
          <li class="cart">
            <router-link to="/" class="one column n" active-class="active" key="home" exact><a><i data-toggle="modal" data-target="#cartModal" style="font-size:1.8em" class="cart-hover fa fa-cart-plus ml-2" aria-hidden="true"></i></a></router-link>
          </li>
        </ul>   
      </div>
      <div data-toggle="modal" data-target="#cartModal" class="cart-arrow">
          <p><router-link to="/" class="one column n" active-class="active" key="home" exact><a><i data-toggle="modal" data-target="#cartModal" style="font-size:2.5em" class="cart-hover fa fa-cart-plus ml-2" aria-hidden="true"></i></a></router-link></p>
        </div>
    </div>
</template>
<script>

export default {
  data () {
    return {
      windowWidth: 0,
      showList: false
    }
  },
  methods: {
    getWindowWidth () {
      this.windowWidth = document.documentElement.clientWidth
      if (this.windowWidth > 740) {
        this.showList = true
      } else {
        this.showList = false
      }
    }
  },
  mounted () {
    this.$nextTick(function () {
      window.addEventListener('resize', this.getWindowWidth)
      this.getWindowWidth()
    })
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button{
  display:none;
  padding:0;
  margin-bottom: 0px;
  border:none;
}
.even{
  display:flex;
  justify-content: space-evenly;
}
button>img{
  height:21px;
}
 .navbar{
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  width: 100%;
  z-index: 1;
  border-top: 1px solid #eee;
}
#logo{
  margin-bottom:0px;
  display: flex;
  align-items: flex-end;
}

.n{
  margin-bottom:0px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin: auto 2vw;
  text-decoration: none;
  line-height: 5.5rem;
  color: #222;
}
.navu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
a{
  text-decoration:none;
  color:inherit;
}
.nv{
  list-style:none;
  margin:0;
}
.active{
  color:#f7941d;
}
.n>a:hover{
  color:#F7941D;
  text-decoration:underline;
}
.t{
  height:35px;
  align-self:center;
}
.lg{
  height:50px;
}
.cart-arrow {
  display: none;
}
.cart-hover:hover {
  color: #F7941D;
}
.cart {
  cursor: pointer;
  padding-top: 10px;
  color: #F7B863;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px) {
  .navu {
    flex-direction: column;
    height: 35px;
  }
  .links {
    width: 100vw;
    background: #f8f8f8;
    display: flex;
  }
  .navu i {
    width: 100%;
    background: #fff;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
  }
  .layout {
    margin-top: 10vh;
  }
  .even {
    width: 50%;
    margin-left: 15vw;
    justify-content: center;
  }
  .navbar{
    width: 100%;
    position: fixed;
    z-index: 7;
    background-color: #f8f8f8;
  }
  .n{
    font-size:10px;
    margin:auto 3vw;
  }
  .nlast {
    margin-left: 7vw;
  }
  .nlast1 {
    margin-left: 5vw;
  }
  button>img{
    height:17px;
  }
  #logo{
    width:100%;
    height:42px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
  }
  .lg{
    height:37px;
  }
  .t{
    height: 31px;
  }
  button{
    display:flex;
    align-content: center;
    justify-content: center;
  }
  .four button img{
    margin-top: 0.5em;
  }
  .cart {
    display: none;
  }
  .cart-arrow {
    display: block;
    position: absolute;
    top: 12vh;
    right: 0;
    height: 20vh;
    width: 6vw;
    background: #111;
    cursor: pointer;
  }
  .cart-arrow p {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    width: 100%;
    height: 100%;
  }

  .cart-arrow p i {
    color: #f8f8f8;
  }
}
@media (max-width:550px) {
  .even {
    flex-direction: column;
    margin-left: 10vw;
  }
  .n{
    border-bottom: 1px solid #eee;
  }
  .nlast {
    margin: auto 3vw;
  }
  .nlast1 {
    margin-left: 3vw;
  }
  .cart-arrow {
    top: 12vh;
    height: 10vh;
    width: 10vw;
  }
}
</style>
