<template>
  <div id="app">
    <Header></Header>
    <Cart/>
    <transition name="fade" mode="out-in" appear>
      <router-view :key="$route.fullPath" class="view"></router-view>
    </transition>
    <Footer></Footer>
  </div>
</template>
<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Cart from './components/Cart.vue'
export default {
  components: {
    Header,
    Footer,
    Cart
  }
}
</script>
<style lang="scss">
@import url('./assets/main.css');
@media (max-width:550px) {
  .view{
    margin-top: 8px;
  }
    .size {
    min-width: 50px;
  }
  }
  .title{
    padding-bottom: 4px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.title2{
    margin: 0;
    font-size: 1.55rem;
}
.margin {
  margin: 20px 0;
}
  .size {
    min-width: 100px;
  }
.black{
  color: #000000c7;
}
.blackish{
    color: #333333cf;
}
.layout {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px 20px;
}
.center{
    text-align: center;
}
.bottom {
    display:flex;
    overflow:auto;
    text-align: left;
    align-items: center;
  }
#app {
  display:flex;
  flex-direction:column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
